/*login html*/


.loging {
    display: flex;
    height: 410px;
    background-color: var(--ghostWhite);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginLabel{
    margin: 25px;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: x-large;
}

#inputNombre{
    margin: 10px;
    width: 25%;
    height: 7%;
}

#inputContraseña{
    margin: 10px;
    width: 25%;
    height: 7%;
}

#enviarMensaje{
    width: 26%;
    height: 12%;
    background-color: var(--purple);
    color: var(--ghostWhite);
    border: 2px solid var(--ghostWhite);
}

#enviarMensaje:hover{
    width: 26%;
    height: 12%;
    background-color: var(--ghostWhite);
    color: var(--purple);
    border: 2px solid var(--purple);
}