

:root{
    --font-family: 'Montserrat', sans-serif;
    --purple : #4B0082; 
    --purpleLight:  #66328b;
    --ghostWhite: #F8F8FF;
}

*{
    font-family: var(--font-family);
}

body{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin: 10px auto;
    font-family: var(--font-family);
    font-weight: 900;
    font-size: large;
}

h3{
    margin: 36px auto;
    font-family: var(--font-family);
    color: var(--ghostWhite);
    font-weight: 300;
    font-size: large;
}

p{
    font-family: var(--font-family);
    font-weight: 300;
    font-size: large;
}

nav{
    width: 86%;
    height: 125px;
    padding: 20px;
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

.logoData{
    margin: 20px;
    height: 80px;
    border-radius: 22px;
}

nav div{
    background-color: var(--ghostWhite);
    display: flex;
    border-radius: 10px;
    margin: 20px;
}

nav section input{
    border: 0;
    background-color: transparent;
}

.material-symbols-outlined{
    width: 20%;
    background-color: var(--purpleLight);
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px ;
    border: none;
    color: var(--ghostWhite);
}

.material-symbols-outlined:hover{
    color: var(--purple);
    background-color: var(--ghostWhite);
    border: none;
}

nav button{
    width: 10%;
    height: 34%;
    background-color: var(--purple);
    color: var(--ghostWhite);
    border-radius: 10px;
    border: 2px solid var(--ghostWhite);
}

nav button:hover{
    background-color: var(--ghostWhite);
    color: var(--purple);
    border-radius: 5px;
    border: 2px solid var(--purple);
}

header{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 86%;
}

header #ImgProm{
    height: 150px;
} 

.DisigButt{
    margin: 10px auto;
    width: 43%;
    height: 46px;
    background-color: var(--purple);
    color: var(--ghostWhite);
    border-radius: 10px;
    border: 2px solid var(--ghostWhite);
}

.DisigButt:hover{
    margin: 10px auto;
    width: 43%;
    height: 46px;
    background-color: var(--ghostWhite);
    color: var(--purple);
    border-radius: 10px;
    border: 2px solid var(--purple);
}

#containerAgregarproducto{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 61%;
}

/* botton add productos*/

#agregarProductosAdd{
    margin: 10px auto;
    width: 136%;
    height: 46px;
    background-color: var(--purple);
    color: var(--ghostWhite);
    border-radius: 10px;
    border: 2px solid var(--ghostWhite);
}

#agregarProductosAdd:hover{
    margin: 10px auto;
    width: 136%;
    height: 46px;
    background-color: var(--ghostWhite);
    color: var(--purple);
    border-radius: 10px;
    border: 2px solid var(--purple);
}

/* Main class de container de productos*/
main{
    padding: 20px;
    background-color: #4B0082;
    width: 86%;
}

.card{
    background-color: var(--purpleLight);
}

.ImgProducSc{
    height: 50px;
    margin: 10px auto;
}

.producto{
    color: var(--ghostWhite);
    font-size: medium;
    margin: 5px auto;
}

.valor{
    color: var(--ghostWhite);
    font-weight: 900;
    margin: 5px auto;
}

.verProducto{
    color: var(--ghostWhite);
    margin: 10px auto;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: small;
    text-align: center;
}

#containerImgProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--purpleLight);
    width: 86%;
}

.SeccionLogTexto{
    display: flex;
    align-items: center;
}

.Formulario{
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#quienesSomos{
    margin: 10px auto;
    font-family: var(--font-family);
    color: var(--ghostWhite);
    font-weight: 100;
    font-size: small;
}

#quienesSomos li{
    margin: 10px auto;
    font-size: large;
}

#hableConNos{
    margin: 10px auto;
    font-family: var(--font-family);
    color: var(--ghostWhite);
    font-weight: 300;
    font-size: large;
}

#texText{
    resize: none;
    width: 100%;
}

#inputName{
    width: 100%;
}

#indexEnviarmensaje{
    width: 60%;
    height: 18%;
    background-color: var(--purple);
    color: var(--ghostWhite);
    border-radius: 10px;
    border: 2px solid var(--ghostWhite);
}

#indexEnviarmensaje:hover{
    width: 60%;
    height: 18%;
    background-color: var(--ghostWhite);
    color: var(--purple);
    border-radius: 10px;
    border: 2px solid var(--purple);
}

.footerText{
    margin: 10px auto;
    font-family: var(--font-family);
    font-weight: 100;
    font-size: small;
    text-align: center;
}


/*Responsive 500*/
@media (max-width: 990px) {
    nav {
        width: 100%;
        height: 25%;
        padding: 20px;
        background-color: var(--purple);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-evenly; */
    }
    
    nav section {
        background-color: var(--ghostWhite);
        display: flex;
        border-radius: 10px;
        margin: 20px;
    }

    nav button {
        width: 34%;
        height: 34%;
        background-color: var(--purple);
        color: var(--ghostWhite);
        border-radius: 10px;
        border: 2px solid var(--ghostWhite);
    }

    header {
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* width: 100%; */
    }

    header #ImgProm {
        height: 110px;
    }

    #containerImgProductos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 10px auto;
        padding: 20px;
        background-color: var(--purpleLight);
        width: 86%;
    }

    #quienesSomos li {
        margin: 10px auto;
        font-size: small;
    }

}
